@import '@/scss/_variables';

@mixin nav-link {
  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-primary;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $color-brand-primary;
      background-color: $color-text-primary;
    }
  }
}
