@import '@/scss/_variables';

@mixin nav-link {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    // font-weight: 600;
    color: $color-text-primary;
    text-decoration: none;
    padding: 0 2rem;

    &:hover {
      background-color: $color-brand-secondary;
    }
  }
}
