$color-brand-primary: #0c0c1e;
$color-brand-secondary: #1b2e3c;
$color-brand-tertiary: #4b0000;

$color-brand-tertiary-shade-30: #350000;
$color-brand-tertiary-shade-60: #1e0000;

$color-text-primary: #f3e3e2;

$color-text-black: #222;
$color-text-white: #e4e4e4;
$color-grey-light: #999999;
