@import '@/scss/_mixins';
@import '@/scss/_variables';

.top-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: $color-brand-primary;

  li {
    @include nav-link;
    font-family: 'Josefin Sans';
  }

  &--auth {
    display: flex;

    li {
      flex: 1 1 20%;

      @include nav-link;
      font-family: 'Josefin Sans';
    }
  }
}

.logo-text {
  font-family: 'Corinthiago';
  font-weight: 600;
  font-size: 2rem !important;
}
