.top-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  list-style: none;
  background-color: #0c0c1e;

  li {
    flex: 1 1 20%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #f3e3e2;
      text-decoration: none;

      &:hover {
        background-color: #1b2e3c;
      }
    }
  }
}

.logo-text {
  font-family: 'Corinthiago';
  font-size: 2.4rem;
}
