@import '@/scss/_mixins';
@import '@/scss/_variables';

.navigation {
  height: 7rem;

  .top-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: $color-brand-primary;

    li {
      .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 1rem;

        @include nav-link;
      }
    }

    &--profile {
      display: flex;

      li {
        flex: 1 1 20%;
        font-family: 'Lato';
        font-size: 1.6rem;
        font-weight: 500;

        @include nav-link;
        a {
          border-left: 2px inset $color-text-primary;
          border-right: 2px inset $color-text-primary;
        }
      }
    }

    &--auth {
      display: flex;
      padding-right: 2rem;

      li {
        flex: 1 1 20%;
        font-family: 'Raleway';
        font-size: 1.4rem;
        font-weight: 500;
        @include nav-link;
      }
    }
  }
}

.logo-text {
  font-family: 'Corinthiago';
  font-weight: 600;
  font-size: 2rem !important;
}
