@import '@/scss/_mixins';
@import '@/scss/_variables';

.navigation {
  height: 4rem;
  font-size: 1.4rem;
  border-top: 2px solid $color-text-primary;

  .admin-nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: $color-brand-primary;

    li {
      .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @include nav-link;
      }
    }
  }
}
