@import '@/scss/_variables';

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
  height: 40rem;
  background-image: url('../../public/images/cellar.avif'),
    linear-gradient(rgba($color-brand-tertiary, 0.7), rgba($color-brand-tertiary, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__text {
    display: flex;
    color: $color-text-primary;

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba($color-brand-secondary, 0.7);
      align-items: center;
      font-family: 'Merriweather';
      flex: 1 1 60%;
      padding: 2rem 0;
      margin: 0 5rem;
      font-size: 2rem;
      border: 1px solid $color-text-primary;

      .two-columns {
        column-count: 2;
        padding: 1rem 1rem 1rem 2rem;
      }

      p {
        line-height: 1.5;
        margin-bottom: 5rem;
        // column-count: 2;
      }

      .cta {
        display: flex;
        flex-direction: column;

        p {
          display: inline-block;
          font-size: 2.4rem;
          margin-bottom: 1.5rem;
        }

        .btn--cta {
          color: $color-text-primary;
          background-color: $color-brand-tertiary;
          align-self: center;
          transition: all 0.1s ease-out;

          &:hover {
            background-color: $color-text-primary;
            color: $color-brand-tertiary;
            outline: 2px solid $color-brand-tertiary;
          }
        }
      }
    }

    &--right {
      display: flex;
      align-items: center;
      flex: 1 1 40%;
      padding: 2rem 4rem;
      font-weight: 700;
      line-height: 1;

      h1 {
        font-size: 5.6rem;
        text-align: right;
      }
    }
  }
}

.strong {
  font-weight: 700;
}
