// Font sizes used in pixels: 8, 12, 14, 16, 18, 20, 22, 24, 32, 40, 48, 56, 64, 72, 80
@import '@/scss/variables';

@font-face {
  font-family: 'Corinthiago';
  src: url('../fonts/Corinthiago.ttf') format('opentype');
}

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Inter';
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 120rem;
  min-height: 100dvh;
}

.btn {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: auto 0;
}

.toaster {
  margin-top: 7rem;
  padding: 1.6rem;
  font-size: 1.8rem;
  background-color: $color-text-primary;
  color: $color-brand-tertiary;
  border: 2px solid $color-brand-tertiary;
}
