// Font sizes used in pixels: 8, 12, 14, 16, 18, 20, 22, 24, 32, 40, 48, 56, 64, 72, 80
@import '@/scss/variables';

@font-face {
  font-family: 'Corinthiago';
  src: url('../fonts/Corinthiago.ttf') format('opentype');
}

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100dvh;
  font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 120rem;
  min-height: 100dvh;
}

.btn {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: auto 0;
}

.toaster {
  margin-top: 7rem;
  padding: 1.6rem;
  font-size: 1.8rem;
  background-color: $color-text-primary;
  color: $color-brand-tertiary;
  border: 2px solid $color-brand-tertiary;
}

.pointer {
  cursor: pointer;
}

.system-wrapper {
  display: flex;
  width: 100%;
  height: calc(100dvh - 7rem);
  justify-content: center;
  align-items: center;

  .custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #4b0000);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
  }

  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-family: 'Courier New', Courier, monospace;
      font-size: 10rem;
      color: $color-brand-tertiary;
    }

    h2 {
      font-size: 4rem;
      color: $color-text-black;
    }

    a {
      // width: 40%;
      font-size: 1.8rem;
      background: $color-brand-tertiary;
      color: $color-text-primary;
      border: 1px solid $color-brand-tertiary-shade-30;
      outline: 1px solid $color-brand-tertiary-shade-60;
      padding: 1rem 2rem;
      margin-top: 4rem;
      cursor: pointer;
      transition: all 0.1s ease-out;

      &:hover {
        background-color: $color-text-primary;
        color: $color-brand-tertiary;
      }
    }
  }
}

//animations
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
