// Font sizes used in pixels: 8, 12, 14, 16, 18, 20, 22, 24, 32, 40, 48, 56, 64, 72, 80

@font-face {
  font-family: 'Corinthiago';
  src: url('../fonts/Corinthiago.ttf') format('opentype');
}

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100dvh;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.main-container {
  margin: 0 auto;
  max-width: 120rem;
}

.btn {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
