@import '../../scss/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-brand-primary;
  color: $color-text-primary;
  height: 15rem;
  font-size: 3rem;
  overflow: hidden;
}
